!= link_to 'Project Top', "/projects/#{@project.id}"

%div!= link_to 'Build this branch', "/projects/#{@project.id}#{@path}?build=on"

- unless @repo.android_project_root? @path
  %p This is not an Android project root.

- if @apks.empty?
  %p No apk files are found. Try to build this branch.
- else
  %ul
    - @apks.each do |file|
      %li!= link_to file, "/projects/#{@project.id}#{@path}/#{file}"
